<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0313</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록 -->
  <servlet>
  <servlet-name>TestServlet</servlet-name>
  <!-- <servlet-class>패키지.클래스이름</servlet-class> -->
  <servlet-class>com.kh.test.controller.TestController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>TestController</servlet-name>
  <!-- <url-pattern>/test</url-pattern> => url(Test) -->
  <url-pattern>*.do</url-pattern> <!-- url(Test.do) -->
  </servlet-mapping>
  
</web-app>